
a {
    text-decoration: none;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    font-family: "raleway", sans-serif;
    text-align: center;
}
p {
    padding: 0;
    margin: 0;
}
h1, h2 {
    font-family: "bodoni-moda", serif;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #030972;
    height: 17vh;
    color: white;
    justify-content: center;
    padding: 15px;
    overflow: visible;
}
.names{
    font-family: "Dancing Script", cursive;
    margin: 15px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #030972;
    position: sticky;
    top:0px;

    border: 2px solid #030972;
    z-index: 99;

}
 .navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    width: 85vw;
 }
 .navbar li a{
    padding: 5px;
    font-size: 13px;
    text-decoration: none;
    color: white;
 }

 .image {
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: black;
 }
 #mobile {
    height: 50vh;
    }
    #desktop{
        display: none;
    }

.blue {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #030972;  
    color: white; 
    padding: 10px 50px 0px 50px;
}
.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;  
}
.location {
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.registry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px 50px 0px 50px;
}
.button {
    background-color: #030972;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    margin: 30px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #030972;
    color: white;
    padding: 50px;
}

.flower-right {
    width: 40vw;
}
.flower-left {
    width: 40vw;
    transform: scaleX(-1);
}
.flowers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90vw;
    justify-content: space-between;
    z-index: 0;
    margin-top: -45px;
}

.flowerbar {
    width: 85vw;
}
.flb-left{
    width: 40vw;
    transform: scaleX(-1);
}
.flb-right {
     width: 40vw;
}

@media (min-width: 500px) {
#desktop{
    height: 50vh;
    display: flex;
}
#mobile {
display: none;
}
.flower-left, .flower-right, .flb-left, .flb-right {
    width: 230px;
}
.flowerbar {
    width: 450px;
}
.flowers {
    width: 650px;
}
.text {
    width: 400px;
}
 .navbar li a{
    font-size: 18px;
 }
}